@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --color-bg-light: #EBE9DD;
  --color-accent-1: #A8A696;
  --color-accent-2: #D4C7AF;
  --color-text-dark: #766B5D;
  --font-heading: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-dark);
  font-family: var(--font-sans);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-heading);
  font-weight: 400;
}

/* Custom Scrollbar for a luxury feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-bg-light); 
}
::-webkit-scrollbar-thumb {
  background: var(--color-accent-1); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-dark); 
}
